/generator/config.php
/generator/config_debug.php
/generator/config.js
/sftp-config.json
/generator/migration.php
vendor
/generator/vendor/
/generator/composer.lock
generator/composer.json
local_scripts
generator/config.js
theme_test/config.php
/themes_test/config.php
/themes_test/vendor/
/themes_test/composer.lock
/themes_test/composer.json
/email_test/config.php
/email_test/vendor/
/email_test/composer.lock
/email_test/composer.json
