/generator/config.php
/generator/config_debug.php
/generator/config.js
/sftp-config.json
/generator/migration.php
vendor
/generator/vendor/
/generator/composer.lock
generator/composer.json
local_scripts
generator/config.js
