

.ctt00008 {
  width               : 100%;
  min-width           : 1440px;
  min-height          : 366px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.ctt00008 .ctt000081 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 366px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .elementimageplaceholderrectangle {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 366px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .elementimageplaceholderrectangle .base {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 366px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .elementimageplaceholderrectangle .iconsimpleoutlinedcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 168px;
  height              : 32px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 704px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .elementimageplaceholderrectangle .iconsimpleoutlinedcamera .iconsimpleoutlinedcamera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .elementimageplaceholderrectangle .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 366px;
  width               : 1465px;
  position            : absolute;
  margin              : 0;
  left                : -13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .basebackground {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 366px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.8;
}
.ctt00008 .ctt000081 .basebackground .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 366px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .basebackground .basefillwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 366px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .basebackground .basefillwhite .fill {
  background-color    : rgba(246, 175, 0, 1.0);
  top                 : 0px;
  height              : 366px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content {
  background-color    : rgba(255,255,255,0.0);
  top                 : 99px;
  height              : 167px;
  width               : 790px;
  position            : absolute;
  margin              : 0;
  left                : 325px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 65px;
  height              : auto;
  width               : 790px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.ctt00008 .ctt000081 .content .hereweare {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 97px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
.ctt00008 .ctt000081 .content .social {
  background-color    : rgba(255,255,255,0.0);
  top                 : 127px;
  height              : 40px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 320px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded .iconsocialslack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded .iconsocialslack .iconsocialslack1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 110px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded1 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded1 .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded1 .iconsocialslack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 17px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded1 .iconsocialslack .iconsocialslack1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 17px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded2 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded2 .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded2 .iconsocialslack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 14px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00008 .ctt000081 .content .social .iconsocialiconpackrounded2 .iconsocialslack .iconsocialslack1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}