

.fea00009 {
  width               : 100%;
  min-width           : 1440px;
  min-height          : 900px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.fea00009 .fea000091 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 900px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fea00009 .fea000091 .basebackground {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 900px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fea00009 .fea000091 .basebackground .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 900px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fea00009 .fea000091 .basebackground .basefillwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 900px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fea00009 .fea000091 .basebackground .basefillwhite .fill {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 900px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fea00009 .fea000091 .content {
  background-color    : rgba(255,255,255,0.0);
  top                 : 107px;
  height              : 694px;
  width               : 700px;
  position            : absolute;
  margin              : 0;
  left                : 370px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fea00009 .fea000091 .content .iphonewhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 146px;
  height              : 611px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 191px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fea00009 .fea000091 .content .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 65px;
  height              : auto;
  width               : 700px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.fea00009 .fea000091 .content .features {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
.fea00009 .fea000091 .columns {
  background-color    : rgba(255,255,255,0.0);
  top                 : 364px;
  height              : 344px;
  width               : 845px;
  position            : absolute;
  margin              : 0;
  left                : 280px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fea00009 .fea000091 .columns .col {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 138px;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fea00009 .fea000091 .columns .col .firstone {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.fea00009 .fea000091 .columns .col .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : auto;
  width               : 262px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
.fea00009 .fea000091 .columns .col1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : 164px;
  width               : 232px;
  position            : absolute;
  margin              : 0;
  left                : 15px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fea00009 .fea000091 .columns .col1 .secondone {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 40px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.fea00009 .fea000091 .columns .col1 .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : auto;
  width               : 232px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
.fea00009 .fea000091 .columns .col2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 112px;
  width               : 227px;
  position            : absolute;
  margin              : 0;
  left                : 616px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fea00009 .fea000091 .columns .col2 .thirdone {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.fea00009 .fea000091 .columns .col2 .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : auto;
  width               : 227px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
.fea00009 .fea000091 .columns .col3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 180px;
  height              : 138px;
  width               : 232px;
  position            : absolute;
  margin              : 0;
  left                : 613px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.fea00009 .fea000091 .columns .col3 .fourthone {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 41px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.fea00009 .fea000091 .columns .col3 .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 34px;
  height              : auto;
  width               : 232px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}