

.pri00010 {
  width               : 100%;
  min-width           : 1440px;
  min-height          : 770px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.pri00010 .pri000101 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 770px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .background {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 770px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .basebackground {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 770px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .basebackground .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 770px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .basebackground .basefillwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 770px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .basebackground .basefillwhite .fill {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 770px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns {
  background-color    : rgba(255,255,255,0.0);
  top                 : 197px;
  height              : 473px;
  width               : 1119px;
  position            : absolute;
  margin              : 0;
  left                : 161px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 473px;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col .basic {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.pri00010 .pri000101 .columns .col .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 214px;
  height              : auto;
  width               : 149px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(226, 226, 226, 1.0);
  text-align          : center;
  letter-spacing      : -0.11px;
  line-height         : 28.0px;
}
.pri00010 .pri000101 .columns .col .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 125px;
  height              : auto;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
.pri00010 .pri000101 .columns .col .a12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 212px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
.pri00010 .pri000101 .columns .col .userscapacitybacku {
  background-color    : rgba(255,255,255,0.0);
  top                 : 270px;
  height              : auto;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.pri00010 .pri000101 .columns .col .a100500gbnotavail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 270px;
  height              : auto;
  width               : 114px;
  position            : absolute;
  margin              : 0;
  left                : 116px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : right;
  line-height         : 32.0px;
}
.pri00010 .pri000101 .columns .col .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 423px;
  height              : 50px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col .button .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col .button .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col .button .button1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 161px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.pri00010 .pri000101 .columns .col .iconsimpleoutlinediconpack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col .iconsimpleoutlinediconpack .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col .iconsimpleoutlinediconpack .iconsimpleoutlinedbook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 38px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col .iconsimpleoutlinediconpack .iconsimpleoutlinedbook .iconsimpleoutlinedbook1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 473px;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 290px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col1 .advanced {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.pri00010 .pri000101 .columns .col1 .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 214px;
  height              : auto;
  width               : 149px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(226, 226, 226, 1.0);
  text-align          : center;
  letter-spacing      : -0.11px;
  line-height         : 28.0px;
}
.pri00010 .pri000101 .columns .col1 .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 125px;
  height              : auto;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
.pri00010 .pri000101 .columns .col1 .a15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 212px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
.pri00010 .pri000101 .columns .col1 .userscapacitybacku {
  background-color    : rgba(255,255,255,0.0);
  top                 : 270px;
  height              : auto;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.pri00010 .pri000101 .columns .col1 .a100500gbnotavail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 270px;
  height              : auto;
  width               : 128px;
  position            : absolute;
  margin              : 0;
  left                : 102px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : right;
  line-height         : 32.0px;
}
.pri00010 .pri000101 .columns .col1 .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 423px;
  height              : 50px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 18px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col1 .button .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col1 .button .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col1 .button .button1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 161px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.pri00010 .pri000101 .columns .col1 .iconsimpleoutlinediconpack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col1 .iconsimpleoutlinediconpack .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col1 .iconsimpleoutlinediconpack .iconsimpleoutlinedbook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 32px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col1 .iconsimpleoutlinediconpack .iconsimpleoutlinedbook .iconsimpleoutlinedbook1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 35px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 473px;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 580px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col2 .professional {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.pri00010 .pri000101 .columns .col2 .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 214px;
  height              : auto;
  width               : 149px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(226, 226, 226, 1.0);
  text-align          : center;
  letter-spacing      : -0.11px;
  line-height         : 28.0px;
}
.pri00010 .pri000101 .columns .col2 .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 125px;
  height              : auto;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
.pri00010 .pri000101 .columns .col2 .a19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 212px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
.pri00010 .pri000101 .columns .col2 .userscapacitybacku {
  background-color    : rgba(255,255,255,0.0);
  top                 : 270px;
  height              : auto;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.pri00010 .pri000101 .columns .col2 .a100500gbnotavail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 270px;
  height              : auto;
  width               : 114px;
  position            : absolute;
  margin              : 0;
  left                : 116px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : right;
  line-height         : 32.0px;
}
.pri00010 .pri000101 .columns .col2 .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 423px;
  height              : 50px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col2 .button .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col2 .button .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col2 .button .button1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 161px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.pri00010 .pri000101 .columns .col2 .iconsimpleoutlinediconpack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col2 .iconsimpleoutlinediconpack .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col2 .iconsimpleoutlinediconpack .iconsimpleoutlinedbook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 33px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 4px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col2 .iconsimpleoutlinediconpack .iconsimpleoutlinedbook .iconsimpleoutlinedbook1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 33px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 473px;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 870px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col3 .expert {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.pri00010 .pri000101 .columns .col3 .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 214px;
  height              : auto;
  width               : 149px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(226, 226, 226, 1.0);
  text-align          : center;
  letter-spacing      : -0.11px;
  line-height         : 28.0px;
}
.pri00010 .pri000101 .columns .col3 .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 125px;
  height              : auto;
  width               : 249px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
.pri00010 .pri000101 .columns .col3 .a22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 212px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
.pri00010 .pri000101 .columns .col3 .userscapacitybacku {
  background-color    : rgba(255,255,255,0.0);
  top                 : 270px;
  height              : auto;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 32.0px;
}
.pri00010 .pri000101 .columns .col3 .a100500gbnotavail {
  background-color    : rgba(255,255,255,0.0);
  top                 : 270px;
  height              : auto;
  width               : 114px;
  position            : absolute;
  margin              : 0;
  left                : 116px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : right;
  line-height         : 32.0px;
}
.pri00010 .pri000101 .columns .col3 .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 423px;
  height              : 50px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 19px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col3 .button .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col3 .button .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 211px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col3 .button .button1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 161px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.pri00010 .pri000101 .columns .col3 .iconsimpleoutlinediconpack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 51px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col3 .iconsimpleoutlinediconpack .background1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col3 .iconsimpleoutlinediconpack .iconsimpleoutlinedbook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : 34px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .columns .col3 .iconsimpleoutlinediconpack .iconsimpleoutlinedbook .iconsimpleoutlinedbook1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 38px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .lines {
  background-color    : rgba(255,255,255,0.0);
  top                 : 218px;
  height              : 430px;
  width               : 582px;
  position            : absolute;
  margin              : 0;
  left                : 429px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .lines .rectangle4 {
  background-color    : rgba(232, 232, 232, 1.0);
  top                 : 0px;
  height              : 430px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 291px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .lines .rectangle41 {
  background-color    : rgba(232, 232, 232, 1.0);
  top                 : 0px;
  height              : 430px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .lines .rectangle42 {
  background-color    : rgba(232, 232, 232, 1.0);
  top                 : 0px;
  height              : 430px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 581px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .content {
  background-color    : rgba(255,255,255,0.0);
  top                 : 92px;
  height              : 48px;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 422px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00010 .pri000101 .content .choosepricingplan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}