

.ctt00003 {
  width               : 100%;
  min-width           : 1440px;
  min-height          : 705px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.ctt00003 .ctt000031 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 705px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .basebackground {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 705px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .basebackground .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 705px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .basebackground .basefillwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 705px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .basebackground .basefillwhite .fill {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 705px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .content {
  background-color    : rgba(255,255,255,0.0);
  top                 : 100px;
  height              : 106px;
  width               : 771px;
  position            : absolute;
  margin              : 0;
  left                : 334px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .content .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 65px;
  height              : auto;
  width               : 771px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.ctt00003 .ctt000031 .content .contacts {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 88px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
.ctt00003 .ctt000031 .form {
  background-color    : rgba(255,255,255,0.0);
  top                 : 267px;
  height              : 310px;
  width               : 560px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .form .componentformelementtextarea {
  background-color    : rgba(255,255,255,0.0);
  top                 : 140px;
  height              : 100px;
  width               : 560px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .form .componentformelementtextarea .field {
  background-color    : rgba(235, 235, 235, 0.6);
  top                 : 0px;
  height              : 100px;
  width               : 560px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .form .componentformelementtextarea .inputfieldtext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.ctt00003 .ctt000031 .form .componentformelementinput {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 560px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .form .componentformelementinput .field {
  background-color    : rgba(235, 235, 235, 0.6);
  top                 : 0px;
  height              : 50px;
  width               : 560px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .form .componentformelementinput .inputfieldtext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.ctt00003 .ctt000031 .form .componentformelementinput1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : 50px;
  width               : 560px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .form .componentformelementinput1 .field {
  background-color    : rgba(235, 235, 235, 0.6);
  top                 : 0px;
  height              : 50px;
  width               : 560px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .form .componentformelementinput1 .inputfieldtext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.ctt00003 .ctt000031 .form .button {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 260px;
  height              : 50px;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .form .button .button2 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .form .button .basefillprimary {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 240px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .form .button .basefillprimary .fill {
  background-color    : rgba(246, 175, 0, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 240px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .form .button .button1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 217px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.ctt00003 .ctt000031 .right {
  background-color    : rgba(255,255,255,0.0);
  top                 : 270px;
  height              : 308px;
  width               : 560px;
  position            : absolute;
  margin              : 0;
  left                : 730px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .right .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 256px;
  height              : auto;
  width               : 418px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.ctt00003 .ctt000031 .right .elementimageplaceholderrounded {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 235px;
  width               : 560px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .right .elementimageplaceholderrounded .base {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 235px;
  width               : 560px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .right .elementimageplaceholderrounded .iconsimpleoutlinedcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 103px;
  height              : 32px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 264px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .right .elementimageplaceholderrounded .iconsimpleoutlinedcamera .iconsimpleoutlinedcamera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 33px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.ctt00003 .ctt000031 .right .elementimageplaceholderrounded .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 235px;
  width               : 570px;
  position            : absolute;
  margin              : 0;
  left                : -5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}