

.tes00009 {
  width               : 100%;
  min-width           : 1440px;
  min-height          : 558px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.tes00009 .tes000091 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 558px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .basebackground {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 558px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .basebackground .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 558px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .basebackground .basefillwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 558px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .basebackground .basefillwhite .fill {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 558px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols {
  background-color    : rgba(255,255,255,0.0);
  top                 : 236px;
  height              : 79px;
  width               : 1342px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols .elementcontrolarrowsrarrowcircle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 79px;
  width               : 79px;
  position            : absolute;
  margin              : 0;
  left                : 1263px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols .elementcontrolarrowsrarrowcircle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 79px;
  width               : 79px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols .elementcontrolarrowsrarrowcircle .arrcircleleft {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 78px;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols .elementcontrolarrowsrarrowcircle .arrcircleleft .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 78px;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols .elementcontrolarrowsrarrowcircle .arrcircleleft .group3 .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 78px;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols .elementcontrolarrowsrarrowcircle .arrcircleleft .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 25px;
  height              : 27px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols .elementcontrolarrowsrarrowcircle .arrcircleleft .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols .elementcontrolarrowslarrowcircle {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 79px;
  width               : 79px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols .elementcontrolarrowslarrowcircle .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 79px;
  width               : 79px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols .elementcontrolarrowslarrowcircle .arrcircleleft {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 78px;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols .elementcontrolarrowslarrowcircle .arrcircleleft .group3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 78px;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols .elementcontrolarrowslarrowcircle .arrcircleleft .group3 .group31 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 78px;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols .elementcontrolarrowslarrowcircle .arrcircleleft .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 34px;
  width               : 46px;
  position            : absolute;
  margin              : 0;
  left                : 16px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .slidercontrols .elementcontrolarrowslarrowcircle .arrcircleleft .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 27px;
  width               : 34px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .top {
  background-color    : rgba(255,255,255,0.0);
  top                 : 109px;
  height              : 82px;
  width               : 149px;
  position            : absolute;
  margin              : 0;
  left                : 647px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .top .group {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 82px;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.7;
}
.tes00009 .tes000091 .top .group .group1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 82px;
  width               : 99px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.7;
}
.tes00009 .tes000091 .top .testimonials {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.tes00009 .tes000091 .author {
  background-color    : rgba(255,255,255,0.0);
  top                 : 339px;
  height              : 124px;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 613px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .author .johndoe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 83px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.tes00009 .tes000091 .author .manageratapple {
  background-color    : rgba(255,255,255,0.0);
  top                 : 108px;
  height              : auto;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(226, 226, 226, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.tes00009 .tes000091 .author .elementimageplaceholdercircle {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 68px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 73px;
  border-radius       : 34px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .author .elementimageplaceholdercircle .base {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 68px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 34px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .author .elementimageplaceholdercircle .iconsimpleoutlinedcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 21px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .author .elementimageplaceholdercircle .iconsimpleoutlinedcamera .iconsimpleoutlinedcamera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .author .elementimageplaceholdercircle .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 68px;
  width               : 68px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .active {
  background-color    : rgba(255,255,255,0.0);
  top                 : 175px;
  height              : 126px;
  width               : 794px;
  position            : absolute;
  margin              : 0;
  left                : 323px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00009 .tes000091 .active .a253athalfpasteight {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 794px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : -0.49px;
  line-height         : 42.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}