#img_select_project
{
	display:none; 
	position: fixed; 
	margin-top: -150px; 
	margin-left: -150px; 
  z-index: 99999;
  padding-top: 50%;
  padding-bottom: 50%;
  padding-left: 50%;
  padding-right: 50%;
}

body:hover  #img_select_project
{
  display: block !important;
  cursor:pointer;
}

.hero{
    min-height: 800px !important;
    display: flex;
    align-items: center;
    margin-top:auto;
    margin-bottom: auto;
}

.special{
    align-items: unset;
  }

.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('../img/preloader.gif');
   background-repeat: no-repeat; 
   background-color: #FFF;
   background-position: center;
}