html,body{
    height:100%;
}

.C{
    text-align: center;
}

.R{
    text-align: right;
}

.L{
    text-align: left;
}

.White{
    color: white;
}

.Black{
    color: rgb(51, 51, 51);
}

.Gray{
    color: rgb(129, 129, 129);
}

.Color{
    color: rgb(246, 135, 0);
}

.Light_gray{
    color: rgb(226, 226, 226);
}

h1{
    font-size: 40px !important;
    line-height: normal !important;
    letter-spacing: -0.38px !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    width: 100% !important;
}

h2{
    font-size: 30px !important;
    line-height: 48px !important;
    letter-spacing: -0.41px !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100% !important;
}

h3{
    font-size: 20px !important;
    line-height: 42px !important;
    letter-spacing: -0.29px !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100% !important;
}

h4{
    font-size: 18px !important;
    line-height: 32px !important;
    letter-spacing: -0.13px !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    width: 100% !important;
}

h5{
    font-size: 16px !important;
    line-height: 28px !important;
    letter-spacing: -0.11px !important;
    font-style: normal !important;
    font-weight: bold !important;
    font-family: 'Montserrat', sans-serif !important;
    width: 100% !important;
}

h6{
    font-size: 14px !important;
    line-height: normal !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-family: 'Montserrat', sans-serif !important;
    width: 100% !important;
}

.Lead_text{
    font-size: 18px !important;
    line-height: 25px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-family: 'Montserrat', sans-serif !important;
    padding-top: 5px;
    padding-bottom: 50px;
    width: 100% !important;
}

a{
    font-size: 16px !important;
    line-height: normal !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-family: 'Montserrat', sans-serif !important;
    padding-top: 5px;
    padding-bottom: 20px;
    width: 100% ;
}

p{
    font-size: 16px !important;
    line-height: 26px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-family: 'Montserrat', sans-serif !important;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100% !important;
}

.p_small{
    font-size: 14px !important;
    line-height: 26px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-family: 'Montserrat', sans-serif !important;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100% !important;
}

.p_list{
    font-size: 16px !important;
    line-height: 32px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-family: 'Montserrat', sans-serif !important;
    width: 100%;
}

.Caption{
    font-size: 14px !important;
    line-height: 22px !important;
    letter-spacing: 1.5px !important;
    font-style: normal !important;
    font-weight: 400 !important;
    font-family: 'Montserrat', sans-serif !important;
    padding-top: 20px;
    padding-bottom: 5px;
    width: 100% !important;
}

.bexi_module{
    padding-top:50px;
    padding-bottom: 50px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bexi_container{
    padding-left: 80px;
    padding-right: 80px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hero{
    min-height: calc(100vh - 70px);
    display: flex;
    align-items: center;
    margin-top:auto;
    margin-bottom: auto;
}

.hea_container{
    display: flex;
    min-height: 70px;
    align-items: center;
}

.hea{
    min-height: 70px;
    padding-right: 20px;
    padding-left:20px;
    padding-bottom: 0%;
    padding-top: 0%;
}

.img-background{
    background-image:src='%img|1920|1080|%';
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

[class*="button-"] {
	margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 20px;
	padding-right: 20px;
	padding-top: 13px;
    padding-bottom: 13px;
	display: inline-block;
    font-family: 'Montserrat', sans-serif;
	font-size: 14.0px;
	text-align: center;
    line-height: 26.0px;
    max-width: 200px;
    width: 100%;
}

.button-default{
    border-radius: 25px;
	background-color: rgba(246, 175, 0, 1.0);
	color: #fff;
}

.button-default-2{
    border-radius: 25px;
	background-color: #fff;
	color: rgba(246, 175, 0, 1.0);
}

.button-outline-1{
    border-radius: 25px;
	background-color:  #fff;
    color: rgba(246, 175, 0, 1.0);
    border-style: solid;
	border-width: 2px;
	border-color: rgba(246, 175, 0, 1.0);
}

.button-outline-2{
    border-radius: 25px;
    color: #fff;
    border-style: solid;
	border-width: 2px;
	border-color: #fff;
}

.button-img{
    border-radius: 25px;
    background-color: rgba(246, 175, 0, 1.0);
    padding-top: 0%;
    padding-bottom: 0%;
    padding-left:0%;
    padding-right: 0%;
    max-height: 52px;
}

.button-img img{
    max-height: 52px;
    max-width: 100px;
    width: 100%;
    height: auto;
}


.button-semi{
    border-radius: 25px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    background-color: rgba(246, 175, 0, 1.0);
    color: #fff;
    margin-left: -25px;
}
/*------------ Menu rules -----------------*/
@media (max-width: 768px) {
    .overlay {
        height: 0%;
        width: 100%;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 0.9);
        overflow-y: hidden;
        transition: 0.5s;
      }
      
      .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
      }
      
      .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: #818181;
        display: block;
        transition: 0.3s;
      }
      
      .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
      }
      
      .overlay .closebtn {
        position: relative;
        top: 20%;
        font-size: 60px;
      }
      
      @media screen and (max-height: 450px) {
        .overlay {overflow-y: auto;}
        .overlay a {font-size: 20px}
        .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
        }
      }
}

@media (min-width: 768px) {
    .bexi_menu_list_h3 li{
        padding-right: 30px;
    }
    .Ocult{
        display: none;
    }
}

/*------------ Carousel rules -----------------*/
.carousel-control-prev {
    left: -10%;
}

.carousel-control-next {
    right: -10%;
}

.carousel-indicators{
    bottom: -40px;
}
.carousel-indicators li {
    background-color: rgba(246, 175, 0, 1.0);
    mix-blend-mode: difference;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 55px;
  color: rgba(246, 175, 0, 1.0);
  mix-blend-mode: difference;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 55px;
  color: rgba(246, 175, 0, 1.0);
}


.bexi_price{

}

.Overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index: -1;
}

.justify-content-flex-end{
    justify-content: flex-end;
}

/*
[class*="col-"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
}
*/


/*------------ 1920+ rules -----------------*/
@media (min-width: 1920px) {
    .bexi_container{
        max-width: 1920px !important;
    }
}

/*------------ 1920 rules -----------------*/
@media (max-width: 1920px) {
    .bexi_container{
        max-width: 1440px !important;
    }
}


/*------------ Mobile rules -----------------*/
@media (max-width: 768px) {
    .Order-top{
        Order:-1 !important;
    }
    .Order-bottom{
        Order:1 !important;
    }

    .border_r{
        border-style: solid;
        border-width: 0px !important;
    }

    .half-col{
        width: 50%;
    }

    .change-list li{
        padding-left: 0px !important;
        text-align: center;
        display: list-item !important;
        float:none !important;
    }

    .bexi_menu_list_h3 li{
        padding-left: 0px !important;
        text-align: center;
        display: list-item !important;
        float:none !important;
    }

    .center-mobile{
        text-align: center;
        justify-content: center;
    }

    .border-lines-mobile{
        border-right:none !important;
        border-bottom: 1px solid rgba(201,201,201,0.5);
    }

    .bexi_container{
        padding-left: 32px;
        padding-right: 32px;
    }

    [class*="button-"] {
        width: 100%;
        max-width: 800px;
    }

    .button-semi{
        border-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        margin-left: auto;
    }
}

.bexi_panel
{
	background-color: #CCC;
	padding-left:5%;
}

.color_rec
{
	float: left;
	width: 30px;
	height: 30px;
	border: solid #000;
}
.bexi_input {
    width: 100%;
	margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 20px;
	padding-right: 20px;
	padding-top: 13px;
	padding-bottom: 13px;
    display: inline-block;
    border: 0px solid #ccc;
    background-color: rgba(243, 243, 243, 1.0);
    border-radius: 25px;
    font-family: "Montserrat","Roboto", Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(129, 129, 129, 1.0);
    line-height: 26.0px;
}

.bexi_text_input{
  
}

.bexi_title
{
  cursor: text !important;
}

.bexi_subtitle
{
  cursor: text !important;
}

.bexi_text
{
  cursor: text !important;
}

.bexi_icon
{

}

 .bexi_img_full
 {
 	width: 100%;
 	height: auto;
 }

 .vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.v-center {
   display: flex;
   align-items: center;
}

.title2
{
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	font-family: "Montserrat","Roboto", Helvetica, Arial, serif;
	font-size: 16.0px;
	color: rgba(246, 175, 0, 1.0);
	text-align: left;
	letter-spacing: 1px;
	line-height: 1.2;
}

.title1 {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-family: "Montserrat","Roboto", Helvetica, Arial, serif;
    font-size: 20.0px;
    color: rgba(51, 51, 51, 1.0);
    text-align: left;
    letter-spacing: -0.29px;
    line-height: 1.2;
}

.title3
{
    font-family: "Montserrat","Roboto", Helvetica, Arial, serif;
    font-size: 30.0px;
    color: rgba(51, 51, 51, 1.0);
    text-align: center;
    letter-spacing: -0.41px;
    line-height: 1.2;
}

.title4
{
    font-family: "Montserrat","Roboto", Helvetica, Arial, serif;
    font-size: 18.0px;
    color: rgba(246, 175, 0, 1.0);
    text-align: left;
    letter-spacing: -0.13px;
    line-height: 32.0px;

}

.title5
{
    font-family: "Montserrat","Roboto", Helvetica, Arial, serif;
    font-size: 18.0px;
    color: rgba(51, 51, 51, 1.0);
    text-align: left;
    letter-spacing: -0.13px;
    line-height: 32.0px;

}

.subtitle2 
{
    
    amily: "Montserrat","Roboto", Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(51, 51, 51, 1.0);
    letter-spacing: 1.5px;
    line-height: 22.0px;

}

.subtitle3 {
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    font-family: "Montserrat","Roboto", Helvetica, Arial, serif;
    font-size: 14.0px;
    color: rgba(226, 226, 226, 1.0);
    text-align: left;
    line-height: 17.0px;
}

.subtitle4
{
    font-family: "Montserrat","Helvetica", Helvetica, Arial, serif;
	font-size: 14.0px;
	color: rgba(51, 51, 51, 1.0);
	text-align: left;
	line-height: 17.0px;
}


.text1 {
    font-family: "Montserrat", "Roboto", Helvetica, Arial, serif;
    font-size: 16.0px;
    color: rgba(129, 129, 129, 1.0);
    text-align: left;
    line-height: 26.0px;
}

.text2 {
    font-family: "Montserrat","Roboto", Helvetica, Arial, serif;
    font-size: 18.0px;
    color: rgba(129, 129, 129, 1.0);
    text-align: left;
    line-height: 26.0px;
}

.readmore
{
	font-family: "Montserrat","Roboto", Helvetica, Arial, serif;
    font-size: 16.0px;
    color: rgba(246, 175, 0, 1.0);
    text-align: left;
    line-height: 19.0px;

}

.bexi_a
{
	display:block;
}

.menu1
{
    font-family: "Montserrat","Roboto", Helvetica, Arial, serif;
	font-size: 14.0px;
	color: rgba(51, 51, 51, 1.0);
	text-align: left;
	letter-spacing: 1.5px;
	line-height: 22.0px;

}
.bexi_menu_list 
{
    list-style-type: none;
    padding-inline-start: 0px;
}

.bexi_menu_list_h 
{
    list-style-type: none;
    padding-inline-start: 0px;
    margin-bottom: 0px;
}

.bexi_menu_list_h2
{
    list-style-type: none;
    padding-inline-start: 0px;
}
.bexi_menu_list_h3
{
    list-style-type: none;
    padding-inline-start: 0px;
    margin-bottom: 0px;
}

.bexi_menu_list_h4
{
    list-style-type: none;
    padding-inline-start: 0px;
}

.bexi_menu_list_h4 li
{
    padding-left: 30px;
    text-align: center;
    float: Right;
}

.bexi_menu_list_h3 li
{
    text-align: center;
    display: inline-block;
}

.bexi_menu_list_h2 li
{
    padding-left: 30px;
    text-align: center;
    float: left;
}

.bexi_menu_list_h li
{
    padding-left: 40px;
    text-align: center;
    display: inline-block;
}

.text_center
{
	text-align: center;
}

.shadow_box
{
    box-shadow: 0px 0px 10px 5px rgba(201,201,201,0.3);
}

.button_rounded
{
	margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 20px;
	padding-right: 20px;
	padding-top: 13px;
    padding-bottom: 13px;
    border-radius: 25px;
	display: inline-block;
	font-family: "Montserrat","Roboto", Helvetica, Arial, serif;
	font-size: 16.0px;
	color: rgba(246, 175, 0, 1.0);
	text-align: center;
    line-height: 19.0px;
    width: 200px;
    height: 50px;
}

.button_menu_rounded
{
	border-radius: 25px;
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: inline-block;
	font-family: "Montserrat","Roboto", Helvetica, Arial, serif;
	font-size: 16.0px;
	color: rgba(246, 175, 0, 1.0);
	text-align: center;
	line-height: 19.0px;
}

.button_rounded2
{
	border-radius: 25px;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 15px;
	padding-bottom: 15px;
	display: inline-block;
	font-family: "Montserrat","Roboto", Helvetica, Arial, serif;
	font-size: 16.0px;
	color: rgba(246, 175, 0, 1.0);
	text-align: center;
	line-height: 19.0px;
}


.button_border1
{
	border-style: solid;
	border-width: 2px;
	border-color: rgba(246, 175, 0, 1.0);

}

.button_fill1
{
	
	background-color: rgba(246, 175, 0, 1.0);
	color: #fff;

}

.button_fill2
{
	background-color: rgba(255, 255, 255, 1.0);
	color: rgba(246, 175, 0, 1.0);
}

.bexi_button
{

}

.border1
{
	border-style: solid;
	border-color: rgba(226, 226, 226, 1.0);
	border-width: 0.5px;
}

.txtbg_number
{
	font-family: "Montserrat","Roboto", Helvetica, Arial, serif;
    font-size: 180.0px;
    color: rgba(244, 244, 244, 1.0);
    text-align: left;
    line-height: 216.0px;

}

.border_r
{
	border-style: solid;
	border-width: 1px;
	border-color: rgba(235, 235, 235, 1.0);
	border-left: none;
	border-top: none;
	border-bottom: none;
}

.bg-gray{
  background-color: #f4f7fe;
}

.bgcolor_fill1
{
	background-color: rgba(246, 175, 0, 1.0);
}

.bgcolor_fill2
{
	background-color: rgba(249, 249, 249, 1.0);
}

.bgcolor_fill3
{
    background-color: rgb(51, 51, 51);
}

.hero_title1 {
    font-family: "Montserrat","Helvetica", Helvetica, Arial, serif;
    font-size: 40.0px;
    color: rgba(51, 51, 51, 1.0);
    text-align: left;
    letter-spacing: -0.38px;
    line-height: 48.0px;
}

.button1 {

    background-color: rgba(246, 175, 0, 1.0);
    height: 50px;
    width: 200px;
    margin: 0;
    left: 0px;
    border-radius: 25px;
    font-size: 16.0px;
	color: rgba(255, 255, 255, 1.0);
	line-height: 19.0px;
}

.text_color_1
{
	color: rgba(246, 175, 0, 1.0) !important;
}

.form-rounded {
    border-radius: 25px;
}

/* UNSPASH SECTIONS */

.img-wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  /* Wrap the image and alt text */
  /* Will be added with js */
    .alt-wrap { 
      display: block;
      position: relative;
      color: whitesmoke;
      width: 100%;
    }

  /* The alt text itself */
  /* Will be added with js */
    .alt-wrap p.bexi_unspash {
      position: absolute;
      opacity: 0; /* hide initially */
      left: 0; right: 0; bottom: 0;
      margin: 0;
      padding: 15px;
      font-size: 14px;
      line-height: 22px;
      background-color: rgba(0,0,0,0.8);
      transition: all 300ms ease;
      transition-delay: 300ms;
    }

  /* Hovering over the wrapper shows its alt p*/
    .alt-wrap:hover > p.bexi_unspash { 
      opacity: 1; 
      transition-delay: 0s;
    }



@media (min-width: 768px) {
.navbar-brand-center
    {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}


.bexi_input_radio
{

}

/* The container */
.container-radio {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container-radio:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container-radio input:checked ~ .checkmark {
    background-color: #ccc;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container-radio input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container-radio .checkmark:after {
       top: 7px;
      left: 7px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: rgba(246, 175, 0, 1.0);
  }

  .fr-element{
    justify-content: inherit;
    text-align: inherit;
    align-content: inherit;
    width: inherit;
  }

  .fr-wrapper{
    justify-content: inherit;
    text-align: inherit;
    align-content: inherit;
    width: inherit;
  }

  .bexi_editor_button{
    justify-content: inherit;
    text-align: inherit;
    align-content: inherit;
    width: inherit;
  }


  /*---------------- Buttons css ---------------------------*/
  .btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 0.125rem solid transparent;
    padding: 0.375rem 1.625rem;
    font-size: 1em;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
    @media screen and (prefers-reduced-motion: reduce) {
      .btn {
        transition: none; } }
    .btn:hover, .btn:focus {
      text-decoration: none; }
    .btn:focus, .btn.focus {
      outline: 0;
      box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); }
    .btn.disabled, .btn:disabled {
      opacity: 0.65; }
    .btn:not(:disabled):not(.disabled) {
      cursor: pointer; }
  
  a.btn.disabled,
  fieldset:disabled a.btn {
    pointer-events: none; }
  
  .btn-primary {
    color: #fff;
    background-color: #329ef7;
    border-color: #329ef7; }
    .btn-primary:hover {
      color: #fff;
      background-color: #0d8df6;
      border-color: #0986ed; }
    .btn-primary:focus, .btn-primary.focus {
      box-shadow: 0 0 0 0.2rem rgba(50, 158, 247, 0.5); }
    .btn-primary.disabled, .btn-primary:disabled {
      color: #fff;
      background-color: #329ef7;
      border-color: #329ef7; }
    .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
    .show > .btn-primary.dropdown-toggle {
      color: #fff;
      background-color: #0986ed;
      border-color: #097fe0; }
      .btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
      .show > .btn-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(50, 158, 247, 0.5); }
  
  .btn-secondary {
    color: #fff;
    background-color: #fe6655;
    border-color: #fe6655; }
    .btn-secondary:hover {
      color: #fff;
      background-color: #fe442f;
      border-color: #fe3822; }
    .btn-secondary:focus, .btn-secondary.focus {
      box-shadow: 0 0 0 0.2rem rgba(254, 102, 85, 0.5); }
    .btn-secondary.disabled, .btn-secondary:disabled {
      color: #fff;
      background-color: #fe6655;
      border-color: #fe6655; }
    .btn-secondary:not(:disabled):not(.disabled):active, .btn-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-secondary.dropdown-toggle {
      color: #fff;
      background-color: #fe3822;
      border-color: #fe2d16; }
      .btn-secondary:not(:disabled):not(.disabled):active:focus, .btn-secondary:not(:disabled):not(.disabled).active:focus,
      .show > .btn-secondary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(254, 102, 85, 0.5); }
  
  .btn-success {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745; }
    .btn-success:hover {
      color: #fff;
      background-color: #218838;
      border-color: #1e7e34; }
    .btn-success:focus, .btn-success.focus {
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }
    .btn-success.disabled, .btn-success:disabled {
      color: #fff;
      background-color: #28a745;
      border-color: #28a745; }
    .btn-success:not(:disabled):not(.disabled):active, .btn-success:not(:disabled):not(.disabled).active,
    .show > .btn-success.dropdown-toggle {
      color: #fff;
      background-color: #1e7e34;
      border-color: #1c7430; }
      .btn-success:not(:disabled):not(.disabled):active:focus, .btn-success:not(:disabled):not(.disabled).active:focus,
      .show > .btn-success.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }
  
  .btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8; }
    .btn-info:hover {
      color: #fff;
      background-color: #138496;
      border-color: #117a8b; }
    .btn-info:focus, .btn-info.focus {
      box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5); }
    .btn-info.disabled, .btn-info:disabled {
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8; }
    .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
    .show > .btn-info.dropdown-toggle {
      color: #fff;
      background-color: #117a8b;
      border-color: #10707f; }
      .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
      .show > .btn-info.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5); }
  
  .btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107; }
    .btn-warning:hover {
      color: #212529;
      background-color: #e0a800;
      border-color: #d39e00; }
    .btn-warning:focus, .btn-warning.focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
    .btn-warning.disabled, .btn-warning:disabled {
      color: #212529;
      background-color: #ffc107;
      border-color: #ffc107; }
    .btn-warning:not(:disabled):not(.disabled):active, .btn-warning:not(:disabled):not(.disabled).active,
    .show > .btn-warning.dropdown-toggle {
      color: #212529;
      background-color: #d39e00;
      border-color: #c69500; }
      .btn-warning:not(:disabled):not(.disabled):active:focus, .btn-warning:not(:disabled):not(.disabled).active:focus,
      .show > .btn-warning.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
  
  .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545; }
    .btn-danger:hover {
      color: #fff;
      background-color: #c82333;
      border-color: #bd2130; }
    .btn-danger:focus, .btn-danger.focus {
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
    .btn-danger.disabled, .btn-danger:disabled {
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545; }
    .btn-danger:not(:disabled):not(.disabled):active, .btn-danger:not(:disabled):not(.disabled).active,
    .show > .btn-danger.dropdown-toggle {
      color: #fff;
      background-color: #bd2130;
      border-color: #b21f2d; }
      .btn-danger:not(:disabled):not(.disabled):active:focus, .btn-danger:not(:disabled):not(.disabled).active:focus,
      .show > .btn-danger.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
  
  .btn-light {
    color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa; }
    .btn-light:hover {
      color: #212529;
      background-color: #e2e6ea;
      border-color: #dae0e5; }
    .btn-light:focus, .btn-light.focus {
      box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5); }
    .btn-light.disabled, .btn-light:disabled {
      color: #212529;
      background-color: #f8f9fa;
      border-color: #f8f9fa; }
    .btn-light:not(:disabled):not(.disabled):active, .btn-light:not(:disabled):not(.disabled).active,
    .show > .btn-light.dropdown-toggle {
      color: #212529;
      background-color: #dae0e5;
      border-color: #d3d9df; }
      .btn-light:not(:disabled):not(.disabled):active:focus, .btn-light:not(:disabled):not(.disabled).active:focus,
      .show > .btn-light.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5); }
  
  .btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40; }
    .btn-dark:hover {
      color: #fff;
      background-color: #23272b;
      border-color: #1d2124; }
    .btn-dark:focus, .btn-dark.focus {
      box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5); }
    .btn-dark.disabled, .btn-dark:disabled {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40; }
    .btn-dark:not(:disabled):not(.disabled):active, .btn-dark:not(:disabled):not(.disabled).active,
    .show > .btn-dark.dropdown-toggle {
      color: #fff;
      background-color: #1d2124;
      border-color: #171a1d; }
      .btn-dark:not(:disabled):not(.disabled):active:focus, .btn-dark:not(:disabled):not(.disabled).active:focus,
      .show > .btn-dark.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5); }
  
  .btn-outline-primary {
    color: #329ef7;
    background-color: transparent;
    background-image: none;
    border-color: #329ef7; }
    .btn-outline-primary:hover {
      color: #fff;
      background-color: #329ef7;
      border-color: #329ef7; }
    .btn-outline-primary:focus, .btn-outline-primary.focus {
      box-shadow: 0 0 0 0.2rem rgba(50, 158, 247, 0.5); }
    .btn-outline-primary.disabled, .btn-outline-primary:disabled {
      color: #329ef7;
      background-color: transparent; }
    .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
    .show > .btn-outline-primary.dropdown-toggle {
      color: #fff;
      background-color: #329ef7;
      border-color: #329ef7; }
      .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
      .show > .btn-outline-primary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(50, 158, 247, 0.5); }
  
  .btn-outline-secondary {
    color: #fe6655;
    background-color: transparent;
    background-image: none;
    border-color: #fe6655; }
    .btn-outline-secondary:hover {
      color: #fff;
      background-color: #fe6655;
      border-color: #fe6655; }
    .btn-outline-secondary:focus, .btn-outline-secondary.focus {
      box-shadow: 0 0 0 0.2rem rgba(254, 102, 85, 0.5); }
    .btn-outline-secondary.disabled, .btn-outline-secondary:disabled {
      color: #fe6655;
      background-color: transparent; }
    .btn-outline-secondary:not(:disabled):not(.disabled):active, .btn-outline-secondary:not(:disabled):not(.disabled).active,
    .show > .btn-outline-secondary.dropdown-toggle {
      color: #fff;
      background-color: #fe6655;
      border-color: #fe6655; }
      .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
      .show > .btn-outline-secondary.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(254, 102, 85, 0.5); }
  
  .btn-outline-success {
    color: #28a745;
    background-color: transparent;
    background-image: none;
    border-color: #28a745; }
    .btn-outline-success:hover {
      color: #fff;
      background-color: #28a745;
      border-color: #28a745; }
    .btn-outline-success:focus, .btn-outline-success.focus {
      box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }
    .btn-outline-success.disabled, .btn-outline-success:disabled {
      color: #28a745;
      background-color: transparent; }
    .btn-outline-success:not(:disabled):not(.disabled):active, .btn-outline-success:not(:disabled):not(.disabled).active,
    .show > .btn-outline-success.dropdown-toggle {
      color: #fff;
      background-color: #28a745;
      border-color: #28a745; }
      .btn-outline-success:not(:disabled):not(.disabled):active:focus, .btn-outline-success:not(:disabled):not(.disabled).active:focus,
      .show > .btn-outline-success.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5); }
  
  .btn-outline-info {
    color: #17a2b8;
    background-color: transparent;
    background-image: none;
    border-color: #17a2b8; }
    .btn-outline-info:hover {
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8; }
    .btn-outline-info:focus, .btn-outline-info.focus {
      box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5); }
    .btn-outline-info.disabled, .btn-outline-info:disabled {
      color: #17a2b8;
      background-color: transparent; }
    .btn-outline-info:not(:disabled):not(.disabled):active, .btn-outline-info:not(:disabled):not(.disabled).active,
    .show > .btn-outline-info.dropdown-toggle {
      color: #fff;
      background-color: #17a2b8;
      border-color: #17a2b8; }
      .btn-outline-info:not(:disabled):not(.disabled):active:focus, .btn-outline-info:not(:disabled):not(.disabled).active:focus,
      .show > .btn-outline-info.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(23, 162, 184, 0.5); }
  
  .btn-outline-warning {
    color: #ffc107;
    background-color: transparent;
    background-image: none;
    border-color: #ffc107; }
    .btn-outline-warning:hover {
      color: #212529;
      background-color: #ffc107;
      border-color: #ffc107; }
    .btn-outline-warning:focus, .btn-outline-warning.focus {
      box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
    .btn-outline-warning.disabled, .btn-outline-warning:disabled {
      color: #ffc107;
      background-color: transparent; }
    .btn-outline-warning:not(:disabled):not(.disabled):active, .btn-outline-warning:not(:disabled):not(.disabled).active,
    .show > .btn-outline-warning.dropdown-toggle {
      color: #212529;
      background-color: #ffc107;
      border-color: #ffc107; }
      .btn-outline-warning:not(:disabled):not(.disabled):active:focus, .btn-outline-warning:not(:disabled):not(.disabled).active:focus,
      .show > .btn-outline-warning.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5); }
  
  .btn-outline-danger {
    color: #dc3545;
    background-color: transparent;
    background-image: none;
    border-color: #dc3545; }
    .btn-outline-danger:hover {
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545; }
    .btn-outline-danger:focus, .btn-outline-danger.focus {
      box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
    .btn-outline-danger.disabled, .btn-outline-danger:disabled {
      color: #dc3545;
      background-color: transparent; }
    .btn-outline-danger:not(:disabled):not(.disabled):active, .btn-outline-danger:not(:disabled):not(.disabled).active,
    .show > .btn-outline-danger.dropdown-toggle {
      color: #fff;
      background-color: #dc3545;
      border-color: #dc3545; }
      .btn-outline-danger:not(:disabled):not(.disabled):active:focus, .btn-outline-danger:not(:disabled):not(.disabled).active:focus,
      .show > .btn-outline-danger.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5); }
  
  .btn-outline-light {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border-color: #f8f9fa; }
    .btn-outline-light:hover {
      color: #212529;
      background-color: #f8f9fa;
      border-color: #f8f9fa; }
    .btn-outline-light:focus, .btn-outline-light.focus {
      box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5); }
    .btn-outline-light.disabled, .btn-outline-light:disabled {
      color: #f8f9fa;
      background-color: transparent; }
    .btn-outline-light:not(:disabled):not(.disabled):active, .btn-outline-light:not(:disabled):not(.disabled).active,
    .show > .btn-outline-light.dropdown-toggle {
      color: #212529;
      background-color: #f8f9fa;
      border-color: #f8f9fa; }
      .btn-outline-light:not(:disabled):not(.disabled):active:focus, .btn-outline-light:not(:disabled):not(.disabled).active:focus,
      .show > .btn-outline-light.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(248, 249, 250, 0.5); }
  
  .btn-outline-dark {
    color: #343a40;
    background-color: transparent;
    background-image: none;
    border-color: #343a40; }
    .btn-outline-dark:hover {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40; }
    .btn-outline-dark:focus, .btn-outline-dark.focus {
      box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5); }
    .btn-outline-dark.disabled, .btn-outline-dark:disabled {
      color: #343a40;
      background-color: transparent; }
    .btn-outline-dark:not(:disabled):not(.disabled):active, .btn-outline-dark:not(:disabled):not(.disabled).active,
    .show > .btn-outline-dark.dropdown-toggle {
      color: #fff;
      background-color: #343a40;
      border-color: #343a40; }
      .btn-outline-dark:not(:disabled):not(.disabled):active:focus, .btn-outline-dark:not(:disabled):not(.disabled).active:focus,
      .show > .btn-outline-dark.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5); }
  
  .btn-link {
    font-weight: 400;
    color: #329ef7;
    background-color: transparent; }
    .btn-link:hover {
      color: #0056b3;
      text-decoration: underline;
      background-color: transparent;
      border-color: transparent; }
    .btn-link:focus, .btn-link.focus {
      text-decoration: underline;
      border-color: transparent;
      box-shadow: none; }
    .btn-link:disabled, .btn-link.disabled {
      color: #6c757d;
      pointer-events: none; }
  
  .btn-lg {
    padding: 0.5rem 1.625rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem; }
  
  .btn-sm {
    padding: 0.25rem 1.625rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem; }
  
  .btn-block {
    display: block;
    width: 100%; }
    .btn-block + .btn-block {
      margin-top: 0.5rem; }

  img.fr-view.fr-dib{
    float: none;
    margin: none;
  }