
:root {
	--border-sel-cursor: pointer !important;
  	--border_sel_color: #F00 !important;
  	--bordre-sel-width: 1px !important;
  	--border-sel-type: solid !important;
}

.bexi_title:hover, .bexi_text:hover, .bexi_button:hover, .bexi_link:hover, 
.bexi_text:hover, .bexi_subtitle:hover, .bexi_img:hover, .bexi_icon:hover
{
	cursor: var(--border-sel-cursor);;
	border-style: var(--border-sel-type);
	border-width: var(--border-width);
	border-color: var(--border_sel_color);
}