

.cta00007 {
  width               : 100%;
    min-width           : 1440px;
  min-height          : 630px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.cta00007 .cta00011 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 690px;
  height              : 377px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .basebackground {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 377px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .basebackground .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 377px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .basebackground .basefillwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 377px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .basebackground .basefillwhite .fill {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 377px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content {
  background-color    : rgba(255,255,255,0.0);
  top                 : 100px;
  height              : 177px;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 422px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 65px;
  height              : auto;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.cta00007 .cta00011 .content .followme {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
.cta00007 .cta00011 .content .social {
  background-color    : rgba(255,255,255,0.0);
  top                 : 137px;
  height              : 40px;
  width               : 190px;
  position            : absolute;
  margin              : 0;
  left                : 203px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded .iconsocialslack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 17px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded .iconsocialslack .iconsocialslack1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 17px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded1 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded1 .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded1 .iconsocialslack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 14px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded1 .iconsocialslack .iconsocialslack1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 100px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded2 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded2 .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded2 .iconsocialslack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded2 .iconsocialslack .iconsocialslack1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded3 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded3 .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded3 .iconsocialslack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 14px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00011 .content .social .iconsocialiconpackrounded3 .iconsocialslack .iconsocialslack1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 885px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .basebackground {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 640px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .basebackground .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 640px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .basebackground .basefillwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 640px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .basebackground .basefillwhite .fill {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 640px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .mask {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 640px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .mask .mask1 {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 640px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.0;
}
.cta00007 .cta00010 .mask .iphonewhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 337px;
  height              : 611px;
  width               : 337px;
  position            : absolute;
  margin              : 0;
  left                : 563px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .content {
  background-color    : rgba(255,255,255,0.0);
  top                 : 99px;
  height              : 106px;
  width               : 868px;
  position            : absolute;
  margin              : 0;
  left                : 286px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .content .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 65px;
  height              : auto;
  width               : 766px;
  position            : absolute;
  margin              : 0;
  left                : 51px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.cta00007 .cta00010 .content .availiblefreefori {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 868px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
.cta00007 .cta00010 .buttons {
  background-color    : rgba(255,255,255,0.0);
  top                 : 241px;
  height              : 50px;
  width               : 415px;
  position            : absolute;
  margin              : 0;
  left                : 513px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 51px;
  width               : 201px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .base {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .base .button {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .base .basefillprimary {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .base .basefillprimary .fill {
  background-color    : rgba(246, 175, 0, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 29px;
  width               : 108px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .icon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 24px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .icon .fill2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : 18px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .icon .fill3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .appstore1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 18px;
  width               : 78px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .appstore1 .fill4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 12px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .appstore1 .fill5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 13px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .appstore1 .fill6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 13px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .appstore1 .fill7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 13px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .appstore1 .fill8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 11px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 45px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .appstore1 .fill9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 9px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 52px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .appstore1 .fill10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 9px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 63px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .appstore1 .fill11 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 9px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 69px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 7px;
  width               : 71px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe .fill12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe .fill13 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 4px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 6px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe .fill14 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 5px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 11px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe .fill15 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe .fill16 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe .fill17 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 5px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 22px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe .fill18 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 7px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe .fill19 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe .fill20 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 5px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe .fill21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 5px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe .fill22 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 5px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe .fill23 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 6px;
  width               : 3px;
  position            : absolute;
  margin              : 0;
  left                : 57px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe .fill24 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 61px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoreappstorecolored .appstore .label .availableonthe .fill25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 5px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 215px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore {
  background-color    : rgba(255,255,255,0.0);
  top                 : -1px;
  height              : 51px;
  width               : 201px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .base {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 1px;
  height              : 50px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .base .button {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .base .basefillprimary {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .base .basefillprimary .fill {
  background-color    : rgba(246, 175, 0, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 29px;
  width               : 118px;
  position            : absolute;
  margin              : 0;
  left                : 43px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .googleplay {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 25px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .googleplay .forma1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 24px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .googleplay1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 19px;
  width               : 87px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .googleplay1 .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 9px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 46px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .googleplay1 .fill2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 13px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .googleplay1 .fill3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 14px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .googleplay1 .fill4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 9px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .googleplay1 .fill5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 9px;
  width               : 9px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .googleplay1 .fill6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 13px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .googleplay1 .fill7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 12px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 58px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .googleplay1 .fill8 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 12px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .googleplay1 .fill9 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 12px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 78px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .googleplay1 .fill10 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 4px;
  height              : 9px;
  width               : 7px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .getiton {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 43px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .getiton .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .getiton .fill2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 5px;
  width               : 4px;
  position            : absolute;
  margin              : 0;
  left                : 7px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .getiton .fill3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .getiton .fill4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 5px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 20px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .getiton .fill5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 23px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .getiton .fill6 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 6px;
  width               : 6px;
  position            : absolute;
  margin              : 0;
  left                : 31px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.cta00007 .cta00010 .buttons .elementbuttonspecialstoregoogleplaycolored .playstore .label .getiton .fill7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 5px;
  width               : 5px;
  position            : absolute;
  margin              : 0;
  left                : 38px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}