

.eco00010 {
  width               : 100%;
    min-width           : 1440px;
  min-height          : 828px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.eco00010 .eco000101 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 828px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eco00010 .eco000101 .basebackground {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 828px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eco00010 .eco000101 .basebackground .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 828px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eco00010 .eco000101 .basebackground .basefillwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 828px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eco00010 .eco000101 .basebackground .basefillwhite .fill {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 828px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eco00010 .eco000101 .content {
  background-color    : rgba(255,255,255,0.0);
  top                 : 102px;
  height              : 637px;
  width               : 1131px;
  position            : absolute;
  margin              : 0;
  left                : 147px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eco00010 .eco000101 .content .collectoru2019sbobafet {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 858px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
.eco00010 .eco000101 .content .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 533px;
  height              : auto;
  width               : 547px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.eco00010 .eco000101 .content .details {
  background-color    : rgba(255,255,255,0.0);
  top                 : 522px;
  height              : 107px;
  width               : 548px;
  position            : absolute;
  margin              : 0;
  left                : 583px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eco00010 .eco000101 .content .details .materialweightwarr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.eco00010 .eco000101 .content .details .plastic12kg2year {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : auto;
  width               : 138px;
  position            : absolute;
  margin              : 0;
  left                : 410px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.eco00010 .eco000101 .content .details .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 351px;
  position            : absolute;
  margin              : 0;
  left                : 64px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.eco00010 .eco000101 .content .details .label2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 28px;
  height              : auto;
  width               : 351px;
  position            : absolute;
  margin              : 0;
  left                : 59px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.eco00010 .eco000101 .content .details .label3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 81px;
  height              : auto;
  width               : 373px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.eco00010 .eco000101 .content .details .label4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 55px;
  height              : auto;
  width               : 351px;
  position            : absolute;
  margin              : 0;
  left                : 72px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.eco00010 .eco000101 .elementimageplaceholderrounded {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 174px;
  height              : 420px;
  width               : 1140px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  border-radius       : 5px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eco00010 .eco000101 .elementimageplaceholderrounded .base {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 420px;
  width               : 1140px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eco00010 .eco000101 .elementimageplaceholderrounded .iconsimpleoutlinedcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 195px;
  height              : 32px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 553px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eco00010 .eco000101 .elementimageplaceholderrounded .iconsimpleoutlinedcamera .iconsimpleoutlinedcamera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.eco00010 .eco000101 .elementimageplaceholderrounded .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 420px;
  width               : 1160px;
  position            : absolute;
  margin              : 0;
  left                : -10px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}