

.int00005 {
  width               : 100%;
    min-width           : 1440px;
  min-height          : 800px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.int00005 .int000051 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 800px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .elementimageplaceholderrounded {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 800px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .elementimageplaceholderrounded .base {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 800px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .elementimageplaceholderrounded .iconsimpleoutlinedcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 386px;
  height              : 32px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 704px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .elementimageplaceholderrounded .iconsimpleoutlinedcamera .iconsimpleoutlinedcamera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 32px;
  width               : 37px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .elementimageplaceholderrounded .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 800px;
  width               : 1465px;
  position            : absolute;
  margin              : 0;
  left                : -13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .basebackground {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 800px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .basebackground .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 800px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .basebackground .basefillwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 800px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .basebackground .basefillwhite .fill {
  background-color    : rgba(246, 175, 0, 1.0);
  top                 : 0px;
  height              : 800px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .content {
  background-color    : rgba(255,255,255,0.0);
  top                 : 227px;
  height              : 247px;
  width               : 754px;
  position            : absolute;
  margin              : 0;
  left                : 343px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .content .button {
  background-color    : rgba(255,255,255,0.0);
  top                 : 197px;
  height              : 50px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 277px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .content .button .background {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .content .button .background .button1 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .content .button .background .basefillwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .content .button .background .basefillwhite .fill {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 200px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .content .button .label {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 30px;
  width               : 142px;
  position            : absolute;
  margin              : 0;
  left                : 30px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .content .button .label .buttonemoji {
  background-color    : rgba(255,255,255,0.0);
  top                 : 5px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 33px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.int00005 .int000051 .content .button .label .ud83dudc3c {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "AppleColorEmoji", Helvetica, Arial, serif;
  font-size           : 22.0px;
  color               : rgba(51, 143, 236, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.int00005 .int000051 .content .startyourdesignpr {
  background-color    : rgba(255,255,255,0.0);
  top                 : 90px;
  height              : auto;
  width               : 754px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 25.0px;
}
.int00005 .int000051 .content .designfasterthane {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 136px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 40.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  letter-spacing      : -0.38px;
  line-height         : 48.0px;
}
.int00005 .int000051 .bottom {
  background-color    : rgba(255,255,255,0.0);
  top                 : 599px;
  height              : 140px;
  width               : 1140px;
  position            : absolute;
  margin              : 0;
  left                : 150px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .bottom .componentfeatures3collwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 109px;
  width               : 1132px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .bottom .componentfeatures3collwhite .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 109px;
  width               : 1132px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .bottom .componentfeatures3collwhite .col {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 107px;
  width               : 355px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .bottom .componentfeatures3collwhite .col .getofftoaquicks {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.int00005 .int000051 .bottom .componentfeatures3collwhite .col .baseuiisthebest {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : auto;
  width               : 355px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.int00005 .int000051 .bottom .componentfeatures3collwhite .col1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 107px;
  width               : 355px;
  position            : absolute;
  margin              : 0;
  left                : 387px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .bottom .componentfeatures3collwhite .col1 .allinonedesignwo {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.int00005 .int000051 .bottom .componentfeatures3collwhite .col1 .exploreearlyconcep {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : auto;
  width               : 355px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.int00005 .int000051 .bottom .componentfeatures3collwhite .col2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 107px;
  width               : 355px;
  position            : absolute;
  margin              : 0;
  left                : 777px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .bottom .componentfeatures3collwhite .col2 .nextgenerationdesi {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.int00005 .int000051 .bottom .componentfeatures3collwhite .col2 .designingwithbase {
  background-color    : rgba(255,255,255,0.0);
  top                 : 29px;
  height              : auto;
  width               : 355px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.int00005 .int000051 .bottom .line {
  background-color    : rgba(235, 235, 235, 1.0);
  top                 : 139px;
  height              : 1px;
  width               : 1140px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .header {
  background-color    : rgba(255,255,255,0.0);
  top                 : 58px;
  height              : 34px;
  width               : 1140px;
  position            : absolute;
  margin              : 0;
  left                : 151px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .header .basefillprimary {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 70px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .header .basefillprimary .elementlogologowhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 24px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .header .basefillprimary .elementlogologowhite .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 34px;
  width               : 24px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .header .basefillprimary .elementlogologowhite .group7 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : 30px;
  width               : 15px;
  position            : absolute;
  margin              : 0;
  left                : 5px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .header .basefillprimary .elementlogologowhite .group7 .fill1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 13px;
  height              : 16px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .header .basefillprimary .elementlogologowhite .group7 .group5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 11px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 2px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .header .basefillprimary .elementlogologowhite .group7 .group5 .group51 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 12px;
  width               : 11px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.int00005 .int000051 .header .menuicon {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 14px;
  width               : 22px;
  position            : absolute;
  margin              : 0;
  left                : 1118px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.9;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}