

.pri00002 {
  width               : 100%;
    min-width           : 1440px;
  min-height          : 732px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.pri00002 .pri000021 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 732px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .basebackground {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 732px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .basebackground .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 732px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .basebackground .basefillwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 732px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .basebackground .basefillwhite .fill {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 732px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns {
  background-color    : rgba(255,255,255,0.0);
  top                 : 268px;
  height              : 390px;
  width               : 1057px;
  position            : absolute;
  margin              : 0;
  left                : 176px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 327px;
  width               : 490px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col .basicplan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 68px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.pri00002 .pri000021 .columns .col .month {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.pri00002 .pri000021 .columns .col .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 105px;
  height              : auto;
  width               : 149px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  letter-spacing      : -0.13px;
  line-height         : 32.0px;
}
.pri00002 .pri000021 .columns .col .a12 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 102px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
.pri00002 .pri000021 .columns .col .button {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 277px;
  height              : 50px;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  border-radius       : 25px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col .button .button2 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col .button .basefillprimary {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col .button .basefillprimary .fill {
  background-color    : rgba(246, 175, 0, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 250px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col .button .button1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 227px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.pri00002 .pri000021 .columns .col .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 169px;
  height              : auto;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.pri00002 .pri000021 .columns .col .iconsimpleoutlinediconpack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 58px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col .iconsimpleoutlinediconpack .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 58px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col .iconsimpleoutlinediconpack .iconsimpleoutlinedbook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 8px;
  height              : 42px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col .iconsimpleoutlinediconpack .iconsimpleoutlinedbook .iconsimpleoutlinedbook1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 42px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 19px;
  height              : 327px;
  width               : 490px;
  position            : absolute;
  margin              : 0;
  left                : 567px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col1 .advancedplan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 68px;
  height              : auto;
  width               : 174px;
  position            : absolute;
  margin              : 0;
  left                : 71px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.pri00002 .pri000021 .columns .col1 .month {
  background-color    : rgba(255,255,255,0.0);
  top                 : 118px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 152px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.pri00002 .pri000021 .columns .col1 .label1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 105px;
  height              : auto;
  width               : 149px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  letter-spacing      : -0.13px;
  line-height         : 32.0px;
}
.pri00002 .pri000021 .columns .col1 .a25 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 102px;
  height              : auto;
  width               : 148px;
  position            : absolute;
  margin              : 0;
  left                : 39px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(246, 135, 0, 1.0);
  text-align          : center;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
.pri00002 .pri000021 .columns .col1 .button {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 277px;
  height              : 50px;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 68px;
  border-radius       : 25px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col1 .button .button2 {
  background-color    : rgba(0, 0, 0, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 25px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col1 .button .basefillprimary {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 50px;
  width               : 250px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col1 .button .basefillprimary .fill {
  background-color    : rgba(246, 175, 0, 1.0);
  top                 : 0px;
  height              : 50px;
  width               : 250px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col1 .button .button1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 16px;
  height              : auto;
  width               : 227px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 19.0px;
}
.pri00002 .pri000021 .columns .col1 .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 169px;
  height              : auto;
  width               : 420px;
  position            : absolute;
  margin              : 0;
  left                : 70px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.pri00002 .pri000021 .columns .col1 .iconsimpleoutlinediconpack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 58px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 67px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col1 .iconsimpleoutlinediconpack .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 58px;
  width               : 58px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col1 .iconsimpleoutlinediconpack .iconsimpleoutlinedbook {
  background-color    : rgba(255,255,255,0.0);
  top                 : 10px;
  height              : 38px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 8px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .col1 .iconsimpleoutlinediconpack .iconsimpleoutlinedbook .iconsimpleoutlinedbook1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  width               : 42px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .columns .rectangle {
  background-color    : rgba(232, 232, 232, 1.0);
  top                 : 0px;
  height              : 390px;
  width               : 1px;
  position            : absolute;
  margin              : 0;
  left                : 544px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .content {
  background-color    : rgba(255,255,255,0.0);
  top                 : 93px;
  height              : 115px;
  width               : 696px;
  position            : absolute;
  margin              : 0;
  left                : 372px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.pri00002 .pri000021 .content .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 63px;
  height              : auto;
  width               : 696px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
.pri00002 .pri000021 .content .choosepricingplan {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 50px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}