

.tea00003 {
  width               : 100%;
    min-width           : 1440px;
  min-height          : 700px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.tea00003 .tea000031 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 700px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .basebackground {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 700px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .basebackground .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 700px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .basebackground .basefillwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 700px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .basebackground .basefillwhite .fill {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 700px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .slidercontrols {
  background-color    : rgba(255,255,255,0.0);
  top                 : 271px;
  height              : 39px;
  width               : 368px;
  position            : absolute;
  margin              : 0;
  left                : 536px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .slidercontrols .elementcontrolarrowsrarrow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 38px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 348px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .slidercontrols .elementcontrolarrowsrarrow .elementcontrolarrowsrarrow1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 38px;
  width               : 20px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .slidercontrols .elementcontrolarrowslarrow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .slidercontrols .elementcontrolarrowslarrow .elementcontrolarrowslarrow1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 39px;
  width               : 21px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .active {
  background-color    : rgba(255,255,255,0.0);
  top                 : 202px;
  height              : 346px;
  width               : 333px;
  position            : absolute;
  margin              : 0;
  left                : 554px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .active .johndoe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 214px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 92px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.tea00003 .tea000031 .active .manageratapple {
  background-color    : rgba(255,255,255,0.0);
  top                 : 236px;
  height              : auto;
  width               : 245px;
  position            : absolute;
  margin              : 0;
  left                : 44px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(226, 226, 226, 1.0);
  text-align          : center;
  line-height         : 17.0px;
}
.tea00003 .tea000031 .active .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 268px;
  height              : auto;
  width               : 333px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : center;
  line-height         : 26.0px;
}
.tea00003 .tea000031 .active .elementimageplaceholdercircle {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 76px;
  border-radius       : 90px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .active .elementimageplaceholdercircle .base {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 90px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .active .elementimageplaceholdercircle .iconsimpleoutlinedcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 77px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 77px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .active .elementimageplaceholdercircle .iconsimpleoutlinedcamera .iconsimpleoutlinedcamera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .active .elementimageplaceholdercircle .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 181px;
  width               : 181px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social {
  background-color    : rgba(255,255,255,0.0);
  top                 : 567px;
  height              : 40px;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 645px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 55px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded .iconsocialslack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 12px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded .iconsocialslack .iconsocialslack1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 17px;
  width               : 17px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 110px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded1 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded1 .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded1 .iconsocialslack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 12px;
  height              : 17px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 17px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded1 .iconsocialslack .iconsocialslack1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 17px;
  width               : 8px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded2 .group2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded2 .group2 .group21 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 40px;
  width               : 40px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded2 .iconsocialslack {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 14px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 13px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .social .iconsocialiconpackrounded2 .iconsocialslack .iconsocialslack1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 14px;
  width               : 16px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .thumbs {
  background-color    : rgba(255,255,255,0.0);
  top                 : 230px;
  height              : 125px;
  width               : 750px;
  position            : absolute;
  margin              : 0;
  left                : 345px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  opacity             : 0.3;
}
.tea00003 .tea000031 .thumbs .elementimageplaceholdercircle {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 125px;
  width               : 125px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 62px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .thumbs .elementimageplaceholdercircle .base {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 125px;
  width               : 125px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 62px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .thumbs .elementimageplaceholdercircle .iconsimpleoutlinedcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .thumbs .elementimageplaceholdercircle .iconsimpleoutlinedcamera .iconsimpleoutlinedcamera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .thumbs .elementimageplaceholdercircle .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 125px;
  width               : 125px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .thumbs .elementimageplaceholdercircle1 {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 125px;
  width               : 125px;
  position            : absolute;
  margin              : 0;
  left                : 625px;
  border-radius       : 62px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .thumbs .elementimageplaceholdercircle1 .base {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 125px;
  width               : 125px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 62px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .thumbs .elementimageplaceholdercircle1 .iconsimpleoutlinedcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 49px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 49px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .thumbs .elementimageplaceholdercircle1 .iconsimpleoutlinedcamera .iconsimpleoutlinedcamera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .thumbs .elementimageplaceholdercircle1 .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 125px;
  width               : 125px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .content {
  background-color    : rgba(255,255,255,0.0);
  top                 : 93px;
  height              : 48px;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 422px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tea00003 .tea000031 .content .meettheteam {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : center;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}