

.tes00006 {
  width               : 100%;
    min-width           : 1440px;
  min-height          : 613px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.tes00006 .tes000061 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 613px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .basebackground {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 613px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .basebackground .background {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 613px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .basebackground .basefillwhite {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 613px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .basebackground .basefillwhite .fill {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 613px;
  width               : 1440px;
  position            : relative;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .content {
  background-color    : rgba(255,255,255,0.0);
  top                 : 97px;
  height              : 48px;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 146px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .content .testimonials {
  background-color    : rgba(255,255,255,0.0);
  top                 : 2px;
  height              : auto;
  width               : 596px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  letter-spacing      : -0.41px;
  line-height         : 48.0px;
}
.tes00006 .tes000061 .columns {
  background-color    : rgba(255,255,255,0.0);
  top                 : 195px;
  height              : 336px;
  width               : 1101px;
  position            : absolute;
  margin              : 0;
  left                : 147px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 148px;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col .johndoe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.tes00006 .tes000061 .columns .col .manageratapple {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : auto;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(226, 226, 226, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.tes00006 .tes000061 .columns .col .elementimageplaceholdercircle {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  border-radius       : 27px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col .elementimageplaceholdercircle .base {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col .elementimageplaceholdercircle .iconsimpleoutlinedcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col .elementimageplaceholdercircle .iconsimpleoutlinedcamera .iconsimpleoutlinedcamera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col .elementimageplaceholdercircle .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : auto;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.tes00006 .tes000061 .columns .col1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 188px;
  height              : 148px;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col1 .johndoe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.tes00006 .tes000061 .columns .col1 .manageratapple {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : auto;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(226, 226, 226, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.tes00006 .tes000061 .columns .col1 .elementimageplaceholdercircle {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  border-radius       : 27px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col1 .elementimageplaceholdercircle .base {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col1 .elementimageplaceholdercircle .iconsimpleoutlinedcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col1 .elementimageplaceholdercircle .iconsimpleoutlinedcamera .iconsimpleoutlinedcamera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col1 .elementimageplaceholdercircle .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col1 .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : auto;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.tes00006 .tes000061 .columns .col2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 148px;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 393px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col2 .johndoe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.tes00006 .tes000061 .columns .col2 .manageratapple {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : auto;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(226, 226, 226, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.tes00006 .tes000061 .columns .col2 .elementimageplaceholdercircle {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  border-radius       : 27px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col2 .elementimageplaceholdercircle .base {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col2 .elementimageplaceholdercircle .iconsimpleoutlinedcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col2 .elementimageplaceholdercircle .iconsimpleoutlinedcamera .iconsimpleoutlinedcamera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col2 .elementimageplaceholdercircle .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col2 .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : auto;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.tes00006 .tes000061 .columns .col3 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 188px;
  height              : 148px;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 393px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col3 .johndoe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.tes00006 .tes000061 .columns .col3 .manageratapple {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : auto;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(226, 226, 226, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.tes00006 .tes000061 .columns .col3 .elementimageplaceholdercircle {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  border-radius       : 27px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col3 .elementimageplaceholdercircle .base {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col3 .elementimageplaceholdercircle .iconsimpleoutlinedcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col3 .elementimageplaceholdercircle .iconsimpleoutlinedcamera .iconsimpleoutlinedcamera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col3 .elementimageplaceholdercircle .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col3 .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : auto;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.tes00006 .tes000061 .columns .col4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 148px;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 786px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col4 .johndoe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.tes00006 .tes000061 .columns .col4 .manageratapple {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : auto;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(226, 226, 226, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.tes00006 .tes000061 .columns .col4 .elementimageplaceholdercircle {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  border-radius       : 27px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col4 .elementimageplaceholdercircle .base {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col4 .elementimageplaceholdercircle .iconsimpleoutlinedcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col4 .elementimageplaceholdercircle .iconsimpleoutlinedcamera .iconsimpleoutlinedcamera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col4 .elementimageplaceholdercircle .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col4 .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : auto;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
.tes00006 .tes000061 .columns .col5 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 188px;
  height              : 148px;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 786px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col5 .johndoe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 7px;
  height              : auto;
  width               : 150px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(51, 51, 51, 1.0);
  text-align          : left;
  letter-spacing      : 1.5px;
  line-height         : 22.0px;
}
.tes00006 .tes000061 .columns .col5 .manageratapple {
  background-color    : rgba(255,255,255,0.0);
  top                 : 30px;
  height              : auto;
  width               : 218px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(226, 226, 226, 1.0);
  text-align          : left;
  line-height         : 17.0px;
}
.tes00006 .tes000061 .columns .col5 .elementimageplaceholdercircle {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 3px;
  border-radius       : 27px;
  overflow            : hidden;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col5 .elementimageplaceholdercircle .base {
  background-color    : rgba(238, 238, 238, 1.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  border-radius       : 27px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col5 .elementimageplaceholdercircle .iconsimpleoutlinedcamera {
  background-color    : rgba(255,255,255,0.0);
  top                 : 14px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 14px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col5 .elementimageplaceholdercircle .iconsimpleoutlinedcamera .iconsimpleoutlinedcamera1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 27px;
  width               : 27px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col5 .elementimageplaceholdercircle .imageplaceholder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 55px;
  width               : 55px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.tes00006 .tes000061 .columns .col5 .athalfpasteightt {
  background-color    : rgba(255,255,255,0.0);
  top                 : 70px;
  height              : auto;
  width               : 315px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "Helvetica", Helvetica, Arial, serif;
  font-size           : 16.0px;
  color               : rgba(129, 129, 129, 1.0);
  text-align          : left;
  line-height         : 26.0px;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}